<!DOCTYPE HTML>
<html>
	<head>
		<title>Magic Apple</title>
		<meta charset="cp1251">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
			<nav>
				<div id="logo">
					<img src="img/menu_logo.png" alt="Логотип">
					<p>MagicApple</p>
				</div>
				<div id="menu">
					<ul>
						<li><a href="">Главная</a></li>
						<li><a href="">О продуктах</a></li>
						<li><a href="">Безопасность</a></li>
						<li><a href="">Заказать</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</div>
			</nav>
			<header>
				<div id="headerBackgd"></div>
				<div id="headerContainer">
					<div id="headerMainImg"></div>
					<div id="headerApple"></div>
					<div id="envelopeTopOver"></div>
					<div id="envelopeBottomOver"></div>
					<div id="caption">
						<h2 class="white">Любовь</h2>
						<p class="textHeader">Яблоко с ферментом, вызывающим чувство привязанности, влюбленности. В сердце любимого человека, но не можете добиться расположения? Яблоко с красным червячком внутри вырабатывающим любовный фермент позволит Вам получить желаемое.</p>
					</div>
				</div>
			</header>
			<div id="mainContainer">
				<section>
					<div class="centerElement">
						<h2>Уникальный продукт</h2>
						<p class="text">MagicApple - это уникальный плод. Мы выращиваем и собираем плоды в горах Шотландии. Именно этот сорт яблок в сочетании с редким видом специально выведенного червя, является самым эффективным средством для достижения поставленной цели. Вы можете обрести любовь, похудеть или омолодиться. Именно наличие червя в яблоке является знаком качества и важной составляющей продукта, определяющего его полезные свойства.</p>
					</div>
					<br><br><br><br>
					<div id="products" class="centerElement">
						<div class="propertyBlock left">
							<img src="img/content_love.png" alt="Любовь">
							<div>
								<h3>Любовь</h3>
								<p class="textSmall">Покорите сердце любимого человека!</p>
								<a href="">Купить&nbsp;&nbsp;&nbsp;&nbsp;99$</a>
							</div>
						</div>
						<div class="propertyBlock left">
							<img src="img/content_weightloss.png" alt="Похудение">
							<div>
								<h3>Похудение</h3>
								<p class="textSmall">Держите себя в форме и будьте красивыми.</p>
								<a href="">Купить&nbsp;&nbsp;&nbsp;&nbsp;99$</a>
							</div>
						</div>
						<div class="propertyBlock hidden">
							<img src="img/content_youth.png" alt="Молодость">
							<div>
								<h3>Молодость</h3>
								<p class="textSmall">Станьте моложе и привлекательней.</p>
								<a href="">Купить&nbsp;&nbsp;&nbsp;&nbsp;99$</a>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<br><br><br><br>
					<div id="sale">
						<div class="centerElement">
							<div id="saleSymbol"></div>
							<div id="saleSimpleSymbol"></div>
							<div id="saleText">
								<h3>Серебрянная подвеска бесплатно</h3>
								<p class="textSmall">При заказе пяти яблок с 1 по 8 марта 2013 года, Вы получаете серебрянную подвеску Caterpillar Charm в виде червячка в подарок. <a href="">Подробнее об условиях акции.</a></p>
							</div>
						</div>
					</div>
				</section>
				<footer class="centerElement">
					<div id="rightFooter">
						<p class="consultation">Консультации по телефону</p>
						<p class="telephoneNumber">8 800 1000 801</p>
						<a id="vk" href=""></a>
						<a id="facebook" href=""></a>
					</div>
					<div id="leftFooter">
						<img src="img/footer_copy_symbol.png">
						<p class="footerCopyRight">&copy; 2006-2012 MagicApple Store</p>
						<p class="footerCopyRightSub">design by Centroarts.com</p>
					</div>
				</footer>
			</div>
		

	</body>
</html>