<!DOCTYPE HTML>
<html>
	<head>
		<title>Corporatix</title>
		<meta charset="cp1251">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<nav>
			<div id="menu">
				<img src="img/logo_corporatix.png" alt="Corporatix label">
				<ul id="menu_list">
					<li><a href="">Home</a></li>
					<li><a href="">Services</a></li>
					<li><a href="">Portfolio</a></li>
					<li><a href="">Testimonial</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">Contact Us</a></li>
				</ul>
			</div>
		</nav>
		<header>
			<div id="header"></div>
		</header>
		<section>
			<div id="content">
				<div id="letsStart">
					<a href=""><img src="img/blurb_button.png" alt="Lets start your website"></a>
					<span>We can make your online business easy & usable for all walks of people</span>
				</div>
				<div id="topBlocks">
					<div class="infoBlock">
						<img src="img/content_block1_img.jpg" alt="Block1">
						<h3>Business Heading</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt mi id libero egestas ut interdum nibh cursus.</p>
						<a href="">Read More ></a>
					</div>
					<div class="infoBlock">
						<img src="img/content_block2_img.jpg" alt="Block2">
						<h3>Business Heading</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt mi id libero egestas ut interdum nibh cursus.</p>
						<a href="">Read More ></a>
					</div>
					<div class="infoBlock">
						<img src="img/content_block3_img.jpg" alt="Block3">
						<h3>Business Heading</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt mi id libero egestas ut interdum nibh cursus.</p>
						<a href="">Read More ></a>
					</div>
					<div class="infoBlock">
						<img src="img/content_block4_img.jpg" alt="Block4">
						<h3>Business Heading</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt mi id libero egestas ut interdum nibh cursus.</p>
						<a href="">Read More ></a>
					</div>
				</div>
				<div>
					<div id="bottomLefts">
						<div class="baseInfoBlock">
							<img src="img/content_human.png" alt="Human icon"> 
							<h3>Title Heading</h3>
							<p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aliqu am tincidunt mi id libero egestas ut interdum nibh cursus.</p>
						
						</div>
						<div class="baseInfoBlock">
							<img src="img/content_earth.png" alt="Earth icon"> 
							<h3>Title Heading</h3>
							<p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aliqu am tincidunt mi id libero egestas ut interdum nibh cursus.</p>
						</div>
						<div class="baseInfoBlock">
							<img src="img/content_compass.png" alt="Compass icon"> 
							<h3>Title Heading</h3>
							<p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aliqu am tincidunt mi id libero egestas ut interdum nibh cursus.</p>
						</div>
						<div class="baseInfoBlock">
							<img src="img/content_light.png" alt="Light icon"> 
							<h3>Title Heading</h3>
							<p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Aliqu am tincidunt mi id libero egestas ut interdum nibh cursus.</p>
						</div>
					</div>
					<div id="bottomAbout" class="baseInfoBlock">
						<h3>About the Company</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt mi id libero egestas ut interdum nibh cursus. Nulla erat orci, adipiscing vel molestie ac, vehicula in dui. Proin vel lorem in tellus placerat eleifend. Duis iaculis lorem a ipsum euismod vel ullamcorper arcu placerat. Aenean elementum tortor vel nisi bibendum bibendum. Aliquam fringilla feugiat ante in vestibulum. Sed non justo justo. Aenean et quam dolor. Vivamus aliquet gravida nunc, sed elementum elit blandit vel. Aliquam neque quam, dignissim ac mattis at, hendrerit nec elit. Cras commodo gravida placerat. </p>
						<a href="">Read More ></a>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div id="footer">
				<div id="left_footer">
					<span class="lighterFont">
						<a href="">Home</a> | 
						<a href="">Services</a> | 
						<a href="">Portfolio</a> | 
						<a href="">Testimonial</a> | 
						<a href="">Blog</a> | <a href="">Contuct Us</a>
					</span><br>
					<span>&copy; 2010 WebCorp LLC | Terms of service | Privacy policy</span><br>
					<span>icons courtesy <a href="" class="underlineFont lighterFont">IconFinder.com</a></span>
				</div>
				<div id="right_footer">
					<span class="contuctUsBtns"><a href=""><img src="img/footer_twitter.png" title="Twitter" alt="Twitter"></a></span>
					<span class="contuctUsBtns"><a href=""><img src="img/footer_facebook.png" title="Facebook" alt="Facebook"></a></span>
					<span class="contuctUsBtns"><a href=""><img src="img/footer_linkedin.png" title="Linkedin" alt="Linkedin"></a></span>
					<span class="contuctUsBtns"><a href=""><img src="img/footer_email.png" title="Email" alt="Email"></a></span>
				</div>
				<div id="connectWithUs">
					<span class="lighterFont">Connect with us:</span>
				</div>
			</div>
		</footer>
	</body>
</html>