<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/cmp.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="content">
    <div id="header">
        <div id="logo"></div>
        <div class="cmpSearchInput">
            <input type="text" placeholder="Search">
            <div goal="searchButton"></div>
        </div>
    </div>
    <div id="menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li selected>
                <div class="selectedMenuItem"></div>
                <a href="about.html">About</a>
                <ul>
                    <li><a href="#">Out team</a></li>
                    <li><a href="#">Customers</a></li>
                    <li><a href="#">Vacancies</a></li>
                </ul>
            </li>
            <li><a href="product.html">Services</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="#">Get in touch</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div id="pageName">
        <h1>About</h1>
        <span class="lightGrayText">
            <a href="#" class="lightGrayText">Home</a> >>
            <a href="#" class="lightGrayText">About</a>
        </span>
    </div>
    <div id="aboutContent">
        <div id="aboutRightMenu">
            <div>
                <ul>
                    <li>Welcome</li>
                    <li selected>About company</li>
                    <li>Our team</li>
                    <li>Clients & Customers</li>
                    <li>Testimonials</li>
                    <li>Vacancies</li>
                </ul>
            </div>
        </div>
        <div id="aboutLeft">
            <div>
                <div class="cmpMessageBlock" theme="info">
                    <div goal="close"></div>
                    Info message goes here.
                </div>
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nulla vitae elit interdum sagittis eget a leo. Aenean et mauris massa. Proin feugiat risus id metus laoreet at condimentum metus pharetra. Etiam dignissim lectus id diam varius egestas. Curabitur vel libero massa. Phasellus scelerisque est ac enim interdum pharetra. Nam tristique venenatis tortor non interdum. Aliquam molestie sem eget ipsum dapibus congue. Cras venenatis nisi nec est faucibus consequat.</p>
                <div id="floatBlock">Etiam dignissim lectus id diam varius egestas. Curabitur vel libero massa. Phasellus scelerisque est ac enim interdum pharetra.</div>
                <p>Etiam dignissim lectus id diam varius egestas. Curabitur vel libero massa. Phasellus scelerisque est ac enim interdum pharetra. Nam tristique venenatis tortor non interdum. Donec nibh sem, fermentum non lacinia ut, rhoncus in libero. Aenean cursus pulvinar erat eget laoreet. Aliquam sit amet nisl ullamcorper libero vulputate gravida at eget risus. Nam nec libero eget felis mollis scelerisque at non felis. Nullam at justo a erat placerat venenatis. Mauris fringilla, arcu ut tempus ullamcorper, metus risus tincidunt risus, ac fermentum mauris turpis at enim. Vivamus nisl neque, rutrum non viverra vel, ornare porta ipsum. Vestibulum magna arcu, mattis a feugiat nec, blandit nec nisl. Etiam dignissim lectus id diam varius egestas. Curabitur vel libero massa. Phasellus scelerisque est ac enim interdum pharetra.</p>
            </div>
            <div id="majorServices" class="cmpGroupBox">
                <div goal="title">Major services</div>
                <div class="layoutThemeItem">
                    <h3>Web design</h3>
                    <div>
                        <img src="img/img1.png">
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit nunc ullamcorper blandit urna. Sed facilisis accumsan nisi.</p>
                            <span class="cmpButton" theme="green">Place an order</span>
                        </div>
                    </div>
                </div>
                <div class="layoutThemeItem">
                    <h3>Web development</h3>
                    <div>
                        <img src="img/img2.png">
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit nunc ullamcorper blandit urna. Sed facilisis accumsan nisi.</p>
                            <span class="cmpButton" theme="green">Place an order</span>
                        </div>
                    </div>
                </div>
                <span class="clear"></span>
            </div>
            <div id="persons">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nulla vitae elit interdum sagittis eget a leo. Aenean et mauris massa. Proin feugiat risus id metus laoreet at condimentum metus pharetra. Etiam dignissim lectus id diam varius egestas. Curabitur vel libero massa. Phasellus scelerisque est ac enim interdum pharetra. Nam tristique venenatis tortor non interdum. Aliquam molestie sem eget ipsum dapibus congue. Cras venenatis nisi nec est faucibus consequat. Etiam dignissim lectus id diam varius egestas. Curabitur vel libero massa. Phasellus scelerisque est ac enim interdum pharetra. Nam tristique venenatis tortor non interdum. Donec nibh sem, fermentum non lacinia ut, rhoncus in libero.</p>
                <h3>Our team</h3>
                <div class="layoutPerson">
                    <p goal="name">Jason Mc`Garrette</p>
                    <p goal="post">Art direcotor</p>
                    <p goal="description">Proin quis elit suscipit massa luctus imperdiet non a mauris. Duis sodales convallis purus, mattis elementum nisi lobortis nec.</p>
                    <a href="#" class="cmpLinkButton">
                        <img src="img/facebook_icon.png">
                        Facebook
                    </a>
                    <a href="#" class="cmpLinkButton">
                        <img src="img/twitter_icon.png">
                        Twitter
                    </a>
                </div>
                <div class="layoutPerson">
                    <p goal="name">Marcel Brawn</p>
                    <p goal="post">developer</p>
                    <p goal="description">Proin quis elit suscipit massa luctus imperdiet non a mauris. Duis sodales convallis purus, mattis elementum nisi lobortis nec.</p>
                    <a href="#" class="cmpLinkButton">
                        <img src="img/facebook_icon.png">
                        Facebook
                    </a>
                    <a href="#" class="cmpLinkButton">
                        <img src="img/twitter_icon.png">
                        Twitter
                    </a>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nulla vitae elit interdum sagittis eget a leo. Aenean et mauris massa. Proin feugiat risus id metus laoreet at condimentum metus pharetra. Etiam dignissim lectus id diam varius egestas. Curabitur vel libero massa. Phasellus scelerisque est ac enim interdum pharetra. Nam tristique venenatis tortor non interdum. Aliquam molestie sem eget ipsum dapibus congue. Cras venenatis nisi nec est faucibus consequat. Etiam dignissim lectus id diam varius egestas. Curabitur vel libero massa. Phasellus scelerisque est ac enim interdum pharetra. Nam tristique venenatis tortor non interdum. Donec nibh sem, fermentum non lacinia ut, rhoncus in libero.</p>
            </div>
            <div id="clients">
                <h5>Clients</h5>
                <div id="majorClients" class="cmpGroupBox">
                    <span goal="title">Major clients</span>
                    <div>
                        <div><img src="img/client_drop.png"></div>
                        <div><img src="img/client_star.png"></div>
                        <div><img src="img/client_umbrella.png"></div>
                        <div><img src="img/client_heart.png"></div>
                    </div>
                    <span class="clear"></span>
                    <div class="thickBorder"></div>
                    <div>
                        <div><img src="img/client_symbol.png"></div>
                        <div><img src="img/client_leaf.png"></div>
                        <div><img src="img/client_leaf2.png"></div>
                        <div><img src="img/client_cloud.png"></div>
                    </div>
                    <span class="clear"></span>
                </div>
            </div>
        </div>
        <div id="aboutMessage">
            <h5>Testimonials</h5>
            <div class="cmpPointPager">
                <span selected></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span goal="button">next</span>
            </div>
            <div class="cmpInfoBlock">
                <div goal="messageBlock">
                    <p goal="message">Integer vehicula velit quis ante ornare iaculis. Sed sed neque metus. Nullam mauris metus, bibendum at facilisis nec, ullamcorper sit amet orci. Nulla facilisi.</p>
                    <div goal="corner"></div>
                </div>
                <div goal="personBlock">
                    <img src="img/person_icon.jpg">
                    <p goal="name">Markus Jefferson</p>
                    <p goal="description">CEO, Company Name</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bottomPanel">
    <div id="hotLinks">
        <h5>Hot links</h5>
        <div>
            <div>
                <ul>
                    <li><a href="#" class="blueText">Customers support</a></li>
                    <li><a href="#" class="blueText">Knowledge base</a></li>
                    <li><a href="#" class="blueText">Troubleshooting</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="#" class="blueText">Recommended sources</a></li>
                    <li><a href="#" class="blueText">Services</a></li>
                    <li><a href="#" class="blueText">FAQs</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="feeds">
        <h5>Feeds</h5>
        <ul>
            <li><a href="#" class="orangeText">Recent works</a></li>
            <li><a href="#" class="orangeText">Updates & News</a></li>
            <li><a href="#" class="orangeText">All Feeds</a></li>
        </ul>
    </div>
    <div id="subscribe">
        <h5>Subscribe</h5>
        <div class="cmpEmailInput">
            <input type="email" value="" placeholder="Your@Email">
        </div>
        <span class="cmpButton" theme="orange">Subscribe</span>
        <p class="lightGrayText subtext">You may automatically receive updates<br>and news by email.</p>
    </div>
    <span class="clear"></span>
</div>
<footer class="grayText">
    <a href="#" class="grayText">Get In Touch</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="#" class="grayText">Terms & Conditions</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="#" class="grayText">Support Policy</a>
    <br>
    <span class="grayText">Copyrights 2011 website.com</span>
    <br>
    <span class="grayText">Company Name</span>
</footer>
</body>
</html>