<!DOCTYPE html>
<html>
<head>
    <title>Duck Files</title>
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/cmp.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="content">
        <div id="header">
            <div id="logo"></div>
            <div class="cmpSearchInput">
                <input type="text" placeholder="Search">
                <div goal="searchButton"></div>
            </div>
        </div>
        <div id="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>
                    <div class="selectedMenuItem"></div>
                    <a href="about.html">About</a>
                    <ul>
                        <li><a href="#">Out team</a></li>
                        <li><a href="#">Customers</a></li>
                        <li><a href="#">Vacancies</a></li>
                    </ul>
                </li>
                <li><a href="product.html">Services</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="#">Get in touch</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div id="slider">
            <div id="slide1">
                <div id="slide1Image"></div>
                <div class="layoutProjectItem">
                    <h4>Recent work</h4>
                    <h2>The Project</h2>
                    <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit nunc ullamcorper blandit urna. Sed facilisis accumsan nisi. Ut mattis libero quis sapien. Integer fermentum venenatis libero.</p>
                    <span class="cmpButton" theme="orange">Launch project</span>
                    <span class="cmpButton" theme="blue">View details</span>
                </div>
                <div class="cmpPointPager">
                    <span selected></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span goal="button">next</span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div id="services" class="cmpGroupBox">
            <div goal="title">Services</div>
            <div class="layoutThemeItem">
                <h3>Web design</h3>
                <div>
                    <img src="img/img1.png">
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit nunc ullamcorper blandit urna. Sed facilisis accumsan nisi.</p>
                        <span class="cmpButton" theme="green">Place an order</span>
                    </div>
                </div>
            </div>
            <div class="layoutThemeItem">
                <h3>Web development</h3>
                <div>
                    <img src="img/img2.png">
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit nunc ullamcorper blandit urna. Sed facilisis accumsan nisi.</p>
                        <span class="cmpButton" theme="green">Place an order</span>
                    </div>
                </div>
            </div>
            <div class="layoutThemeItem">
                <h3>Outline marketing</h3>
                <div>
                    <img src="img/img3.png">
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit nunc ullamcorper blandit urna. Sed facilisis accumsan nisi.</p>
                        <span class="cmpButton" theme="green">Place an order</span>
                    </div>
                </div>
            </div>
            <span class="clear"></span>
        </div>
        <div id="updates">
            <h5>Updates & News</h5>
            <div id="months">
                <p>May 20th</p>
                <p>Apr 1st</p>
                <p>Feb 8th</p>
            </div>
            <div id="values">
                <p class="blueText">Praesent eu nulla vitae elit interdum</p>
                <p class="blueText">Nam tristique venenatis tortor interdum</p>
                <p class="blueText">Aenean et mauris massa</p>
            </div>
            <span class="cmpButton" theme="gray">Archive</span>
        </div>
        <div id="features">
            <h5>Features</h5>
            <h2>The most common goes here</h2>
            <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit nunc ullamcorper blandit urna. Sed facilisis accumsan nisi. Lorem ipsum dolor sit amet consectetuer adipiscing elit nunc ullamcorper blandit urna. Sed facilisis accumsan nisi.</p>
            <div class="cmpPointPager">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span goal="button">next</span>
            </div>
        </div>
        <div></div>
    </div>
    <div id="bottomPanel">
        <div id="hotLinks">
            <h5>Hot links</h5>
            <div>
                <div>
                    <ul>
                        <li><a href="#" class="blueText">Customers support</a></li>
                        <li><a href="#" class="blueText">Knowledge base</a></li>
                        <li><a href="#" class="blueText">Troubleshooting</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><a href="#" class="blueText">Recommended sources</a></li>
                        <li><a href="#" class="blueText">Services</a></li>
                        <li><a href="#" class="blueText">FAQs</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="feeds">
            <h5>Feeds</h5>
            <ul>
                <li><a href="#" class="orangeText">Recent works</a></li>
                <li><a href="#" class="orangeText">Updates & News</a></li>
                <li><a href="#" class="orangeText">All Feeds</a></li>
            </ul>
        </div>
        <div id="subscribe">
            <h5>Subscribe</h5>
            <div class="cmpEmailInput">
                <input type="email" value="" placeholder="Your@Email">
            </div>
            <span class="cmpButton" theme="orange">Subscribe</span>
            <p class="lightGrayText subtext">You may automatically receive updates<br>and news by email.</p>
        </div>
        <span class="clear"></span>
    </div>
    <footer class="grayText">
        <a href="#" class="grayText">Get In Touch</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#" class="grayText">Terms & Conditions</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#" class="grayText">Support Policy</a>
        <br>
        <span class="grayText">Copyrights 2011 website.com</span>
        <br>
        <span class="grayText">Company Name</span>
    </footer>
</body>
</html>