<!DOCTYPE html>
<html>
<head>
    <title>Duck Files</title>
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/cmp.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="content">
        <div id="header">
            <div id="logo"></div>
            <div class="cmpSearchInput">
                <input type="text" placeholder="Search">
                <div goal="searchButton"></div>
            </div>
        </div>
        <div id="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>
                    <div class="selectedMenuItem"></div>
                    <a href="about.html">About</a>
                    <ul>
                        <li><a href="#">Out team</a></li>
                        <li><a href="#">Customers</a></li>
                        <li><a href="#">Vacancies</a></li>
                    </ul>
                </li>
                <li><a href="product.html">Services</a></li>
                <li selected><a href="portfolio.html">Portfolio</a></li>
                <li><a href="#">Get in touch</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div id="pageName">
            <h1>WebSites</h1>
            <span class="lightGrayText">
                <a href="#" class="lightGrayText">Home</a> >>
                <a href="#" class="lightGrayText">Portfolio</a> >>
                <a href="#" class="lightGrayText">WebSites</a>
            </span>
            <div class="cmpNumericPager" theme="dark">
                <span goal="pages">pages</span>
                <span goal="item" selected>0</span>
                <span goal="item">1</span>
                <span goal="item">2</span>
                <span goal="item">3</span>
                <span goal="item">4</span>
                <span goal="next">next</span>
            </div>
        </div>
        <div class="clear"></div>
        <div id="websites">
            <div>
                <img src="img/website_img.png">
                <div class="layoutProjectItem">
                    <h2>The Project</h2>
                    <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit nunc ullamcorper blandit urna. Sed facilisis accumsan nisi. Ut mattis libero quis sapien. Integer fermentum venenatis libero.</p>
                    <span class="cmpButton" theme="orange">Launch project</span>
                    <span class="cmpButton" theme="blue">View details</span>
                </div>
            </div>
            <div>
                <img src="img/website_img.png">
                <div class="layoutProjectItem">
                    <h2>The Project</h2>
                    <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit nunc ullamcorper blandit urna. Sed facilisis accumsan nisi. Ut mattis libero quis sapien. Integer fermentum venenatis libero.</p>
                    <span class="cmpButton" theme="orange">Launch project</span>
                    <span class="cmpButton" theme="blue">View details</span>
                </div>
            </div>
            <div>
                <img src="img/website_img.png">
                <div class="layoutProjectItem">
                    <h2>The Project</h2>
                    <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit nunc ullamcorper blandit urna. Sed facilisis accumsan nisi. Ut mattis libero quis sapien. Integer fermentum venenatis libero.</p>
                    <span class="cmpButton" theme="orange">Launch project</span>
                    <span class="cmpButton" theme="blue">View details</span>
                </div>
            </div>
            <span class="cmpNumericPager" theme="light">
                <span goal="pages">pages</span>
                <span goal="item" selected>0</span>
                <span goal="item">1</span>
                <span goal="item">2</span>
                <span goal="item">3</span>
                <span goal="item">4</span>
                <span goal="next">next</span>
            </span>
            <span class="clear"></span>
        </div>
    </div>
    <div id="bottomPanel">
        <div id="hotLinks">
            <h5>Hot links</h5>
            <div>
                <div>
                    <ul>
                        <li><a href="#" class="blueText">Customers support</a></li>
                        <li><a href="#" class="blueText">Knowledge base</a></li>
                        <li><a href="#" class="blueText">Troubleshooting</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><a href="#" class="blueText">Recommended sources</a></li>
                        <li><a href="#" class="blueText">Services</a></li>
                        <li><a href="#" class="blueText">FAQs</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="feeds">
            <h5>Feeds</h5>
            <ul>
                <li><a href="#" class="orangeText">Recent works</a></li>
                <li><a href="#" class="orangeText">Updates & News</a></li>
                <li><a href="#" class="orangeText">All Feeds</a></li>
            </ul>
        </div>
        <div id="subscribe">
            <h5>Subscribe</h5>
            <div class="cmpEmailInput">
                <input type="email" value="" placeholder="Your@Email">
            </div>
            <span class="cmpButton" theme="orange">Subscribe</span>
            <p class="lightGrayText subtext">You may automatically receive updates<br>and news by email.</p>
        </div>
        <span class="clear"></span>
    </div>
    <footer class="grayText">
        <a href="#" class="grayText">Get In Touch</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#" class="grayText">Terms & Conditions</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#" class="grayText">Support Policy</a>
        <br>
        <span class="grayText">Copyrights 2011 website.com</span>
        <br>
        <span class="grayText">Company Name</span>
    </footer>
</body>
</html>